name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile.dev --tag pgjessee/docker-learn
  test:
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: Test the Docker container
      run: docker container run -e CI=true pgjessee/docker-learn npm test
